h1,
body {
    margin: 0;
    font-family: Mukta;
}

* {
    -webkit-font-smoothing: antialiased;
}

.content-container {
    background-color: #000;
}

.container {
    background-color: #f2f2f2;
    padding: 0;
    margin: 0;
}

.section-container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #000;
}
