.header-container {
    background-image: url("../assets/images/header.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 45%;

    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-container::after {
    content: "";

    width: 100%;
    height: 100px;

    position: relative;
    bottom: 0;

    background: linear-gradient(to top, #000, rgba(0, 0, 0, 0.6));
    z-index: 1;
}

.header-container__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-top: 65px;

    color: #f2f2f2;
    font-size: 20px;
    font-family: Mukta;
    flex: 2;

    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.header-container__main > h1 {
    font-family: "Playfair Display", serif;
}

.header-container__main > p {
    padding: 0 20%;
    margin: 32px auto;
}

.header-container__navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header-container__navbar-container {
    display: flex;
    justify-content: space-between;

    padding: 8px 16px;

    background-color: rgba(0, 0, 0, 1);

    transition: background-color ease-in-out 400ms;
}

.header-container__navbar-container--transparent {
    background-color: rgba(0, 0, 0, 0);
}

.header-container__navbar-container__title {
    color: #fff;
    font-family: Mukta;
    align-self: center;
}

.header-container__navbar-container__menu {
    margin: 0;
    padding: 2px 4px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style-type: none;
}

.header-container__navbar-container__menu > li:first {
    margin-left: 0;
}

.header-container__navbar-container__menu > li {
    margin-left: 8px;
}
