@media screen and (max-width: 768px) {
    /* 
     * Mobile Header
     */
    .header-container__navbar-conainer__menu {
        display: none;
    }

    .header-container__main > p {
        padding: 0 10%;
    }

    /* 
     * Mobile Different Section.
     */
    .makes-different-section,
    .makes-different-section__article {
        flex-direction: column;
    }

    .makes-different-section > ul {
        margin: 0;
        padding: 0;
    }
    .makes-different-section__article__image {
        margin-right: 0;
        margin-bottom: 16px;
    }

    /* 
     * Mobile Know Me Section.
     */
    .know-me-section > ul {
        flex-direction: column;
    }

    .know-me-section > ul > li {
        margin-right: 0;
    }

    .know-me-section__article > img {
        height: 280px;
    }

    /* 
     * Mobile My Services.
     */
    .my-services-section__container {
        padding: 16px 10%;
    }
}
